@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/webfonts/Vazirmatn-Medium.woff2")
      format("woff2 supports variations"),
    url("/fonts/webfonts/Vazirmatn-Medium.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  direction: rtl;
  min-width: 410px !important;
}

* {
  font-family: Vazirmatn !important;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #cbd5e1 transparent transparent transparent;
}

.floating-label {
  position: relative;
}

.floating-label input:focus ~ .label-text,
.floating-label input:not(:placeholder-shown) ~ .label-text {
  top: 0;
  font-size: 12px;
  background-color: #fff;
  color: #4a90e2;
}

.label-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  font-size: 16px;
  color: #6b7280;
  transition: all 0.3s ease;
  pointer-events: none;
}
